# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
hs_err_pid*
replay_pid*
.tripza-services/
.local-infra/

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.ruff_cache/
